#Author: Red Erik @ OSGrid
#Date: 2022-12-07
#This work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.

[Unit]
Description=OAR for %i

[Service]
User=%i
Group=%i
WorkingDirectory=/srv/opensimulator/managementScripts
EnvironmentFile=/srv/opensimulator/managementScripts/%i.conf
ExecStart=/usr/bin/python3 /srv/opensimulator/managementScripts/remoteAdmin/makeOAR.py ${address} ${port} ${password} ${regionName} "/var/opensimulator/backups/OARs/${grid}/"
ExecStartPost=/usr/bin/python3 /srv/opensimulator/managementScripts/removeOldOARs.py "/var/opensimulator/backups/OARs/${grid}/" ${backupTimeSpan} ${regionName}
KillMode=none

[Install]
WantedBy=osgrid.target
