#Author: antlampas
#Date: 2022-12-07
#This work is licensed under the Creative Commons Attribution 4.0 International License. To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.

[Unit]
Description=Persist Objects and Generate Map for %i

[Service]
WorkingDirectory=/srv/opensimulator/managementScripts
EnvironmentFile=/srv/opensimulator/managementScripts/%i.conf
ExecStartPre=/usr/bin/python3 /srv/opensimulator/managementScripts/remoteAdmin/simulatorAssetsCache.py ${address} ${port} ${password}
ExecStart=/usr/bin/python3 /srv/opensimulator/managementScripts/remoteAdmin/simulatorPersistAssets.py ${address} ${port} ${password}
KillMode=none

[Install]
WantedBy=osgrid.target
